body {
  background-color: #f3f3f3;
}

.spacer {
  display: inline-block;
  width: 8px;
}

.app {
  min-width: 800px;
  max-width: 1024px;
  padding: 20px;
  margin: auto;
  font-size: 16px;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: 0px 0px 4px #ccc;
}

header {
  display: flex;
  align-items: center;
}

section {
  margin: 24px 0;
}

.title {
  font-size: 36px;
  font-weight: 800;
  margin: 0 12px;
}

.tips {
  color: #999;
  margin-top: -18px;
  margin-bottom: 6px;
}

.action {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.delete:hover {
  color: #666;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fields {
  display: flex;
  margin-top: 6px;
}

#label {
  margin: 4px 0 0;
}

.webhook {
  width: 480px;
}

#records .record-cell {
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.record-image {
  width: 80px;
  height: 80px;
  object-fit: fill;
}

.section-title {
  display: flex;
  align-items: baseline;
}
